<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">  
	<title>Deck - 0.1</title>
	<script src="vendor/angular.min.js"></script>
	<script src="vendor/angular-slugify.js"></script>
	<script src="js/card-generator.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="scss/styles.css">
</head>
<body ng-app="cardsApp">
	<div class="viewport" >
		<div class="content" ng-controller="cardsController">
			<div class="row row-{{$index + 1}}" ng-repeat="row in cards">
				<div id="row-{{$index + 1}}" class="col-{{$index + 1}} b-card coord-{{$index + 1}}-0" data-coord="{{$index + 1}}-0">
					<div class="e-card-content">
						<div class="e-front">
							<h1>Table of Contents</h1>
							<ul>
								<li ng-repeat="card in cards[$index]">{{card.title}}</li>
							</ul>
						</div>
						<div class="e-back">
							<h1></h1>
							<h2>BACK</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus nihil aperiam nesciunt a iusto sapiente distinctio natus laboriosam hic.</p>		
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus nihil aperiam nesciunt a iusto sapiente distinctio natus laboriosam hic.</p>		
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus nihil aperiam nesciunt a iusto sapiente distinctio natus laboriosam hic.</p>
						</div>
					</div>
				</div>
				<div id="{{card.title | slugify}}" class="col-{{$index + 1}} b-card coord-{{$parent.$index + 1}}-{{$index + 1}}" data-coord="{{$parent.$index + 1}}-{{$index + 1}}" ng-repeat="card in cards[$index]">
					<div class="e-card-content">
						<div class="e-front">
							<h1>{{card.title}}</h1>
							<h2>{{card.subtitle}}</h2>
							<h3>FRONT</h3>
							<p>{{card.text}}</p>
						</div>
						<div class="e-back">
							<h1>{{card.title}}</h1>
							<h2>BACK</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus nihil aperiam nesciunt a iusto sapiente distinctio natus laboriosam hic.</p>		
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus nihil aperiam nesciunt a iusto sapiente distinctio natus laboriosam hic.</p>		
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus nihil aperiam nesciunt a iusto sapiente distinctio natus laboriosam hic.</p>
						</div>
					</div>
				</div>
			</div>	
		</div>
		</div>
	<script src="vendor/jquery.min.js"></script>
	<script src="vendor/quo.js"></script>
	<script src="js/gestures.js"></script>
</body>
</html>