body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 200;
  line-height: 1.4;
  font-size: 16px; }

h1 {
  margin: 0; }

.viewport {
  overflow: hidden;
  position: relative; }

.content {
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease; }

.row {
  display: block;
  overflow: hidden; }

.b-card {
  box-sizing: border-box;
  float: left; }
  .b-card .e-card-content > div {
    background-color: #efefef;
    border: 1px solid #666;
    border-left: 6px solid #333;
    padding: 40px;
    box-sizing: border-box; }
  .b-card h1 {
    font-size: 48px;
    font-weight: 100; }
  .b-card p {
    font-size: 16px; }
  .b-card.m-active h1 {
    color: #c60018; }

.row-1 .b-card .e-card-content > div {
  border-left-color: #c60018; }

.row-2 .b-card .e-card-content > div {
  border-left-color: #3fa9f5; }

.row-3 .b-card .e-card-content > div {
  border-left-color: #337c09; }

/* entire container, keeps perspective */
.b-card {
  perspective: 600; }

.e-card-content, .e-front, .e-back {
  width: 100%;
  height: 100%; }

.m-flipped .e-card-content {
  transform: rotateY(180deg); }

/* flip speed goes here */
.e-card-content {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative; }

/* hide back of pane during swap */
.e-front, .e-back {
  background-color: #efefef;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0; }

/* front pane, placed above back */
.e-front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg); }

/* back, initially hidden pane */
.e-back {
  transform: rotateY(180deg); }
