body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 200;
  line-height: 1.4;
  font-size: 16px; }

h1 {
  margin: 0; }

.viewport {
  overflow: hidden;
  position: relative; }

.content {
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease; }

.row {
  display: block;
  overflow: hidden; }

.b-card {
  background-color: rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  padding: 40px;
  border: 1px solid #666;
  float: left;
  border-left: 6px solid #333; }
  .b-card h1 {
    font-size: 48px;
    font-weight: 100; }
  .b-card p {
    font-size: 16px; }
  .b-card.m-active h1 {
    color: #333; }

.row-1 .b-card {
  border-left-color: #c60018; }

.row-2 .b-card {
  border-left-color: #3fa9f5; }

.row-3 .b-card {
  border-left-color: #337c09; }

.controls {
  text-align: center;
  position: fixed;
  z-index: 1000;
  bottom: 90px;
  left: 320px; }
  .controls .arrow {
    font-size: 50px;
    padding: 10px 20px;
    border: 1px solid #666;
    margin: 10px;
    display: inline-block; }
